@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Rejouice Headline";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/font/Rejouice-Headline.woff) format("woff");
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rejouice headline";
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: 1px;
}
#rocket{
    animation: rotate 5s linear infinite;
}
#vr-img{
  animation: rotate2 5s linear infinite;
}

#slider {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
@keyframes rotate2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: translateY(3vh);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 600px) {
    #main2{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }

    #section1{
      width: 100vw;
      display: flex;
    }
    #section1 img{
      width: 10%;
    }
    #section1 h1{
      font-size: 1.5rem;
    }
    #section1 .para{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      width: 95%;
      height: 60%;
    }
    #section1 #rocket{
      width: 40%;
      right: 0;
      display: none;
    }
    #section1 #vr-img{
      width: 90%;
      left: 0;
      bottom: 0%;
    }


    #section2{
      width: 100%;
      height: fit-content;
      display: block;
    }
    .section2-div1{
      display: flex;
      gap: 5px;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      line-height: 1;
    }
    #section2-middle1{
      width: 100%;
    }
    #section2-middle1 p{
      font-size: 1rem;
    }
    .section2-middle1-div {

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .section2-middle1-div p{
      font-size: 0.5rem;
    }
    .section2-middle1-div>div {
      width: 100%;
    }
    
    #section2-middle2{
      width: 100%;
      display: flex;
    }

    .section-div2{
    width: 100vw;
     display: flex;
     flex-direction: column;
     padding: 0;
     margin: 0;
    }

    .section2-div2-part1{
      width: 100%;
      height: 100%;
      gap: 0px;
    }
   
    #section-div2-middle1{
      width: 85vw;
      height: 100%;
      margin-left: -30%;
      margin-top: 0%;
      padding: 0.5rem;
      margin-top:0;
    }
    #section-div2-para p{
      margin-top: 0;
      font-size: 0.7em;
    }
    .section-div2-middle1-div p{
      padding: 0px;
      margin: 0;
     font-size: 0.5rem;
     width: 25%;
    }
    .section-div2-middle1-div i{
     font-size: 1.2rem;
     width: 75%;
    }
    
    #section-div2-middle2{
      width: 85vw;
      height: 100%;
      margin-left: -30%;
      margin-top: 0%;
      padding: 0.6rem;
      margin-top:0;
    }
    #section-div2-middle2 h1{
      font-size: 2rem;
    }
    
    #section-div2-middle2 p{
      font-size: 0.6rem;
      margin-top: 10px;
    }
    #section-div2-middle2 i{
      font-size:3rem;
      margin-top: 10px;
    }

    .section2-div2-part2{
      background-color: red;
      width: fit-content;
      display: none;
    }
       
    #section3{
      width: fit-content;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
    #section3 img{
      top: 0%;
      width: 30%;
    }
    #section3 h1{
      font-size: 5rem;
    }
    .section3-q{
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: 85% !important;
      background-color: rgb(68, 68, 68);
      opacity: 0.6;
    }
    .section3-q details{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }
    .section3-q summary{
      font-size: 1rem;
    }
    .section3-q p{
      font-size: 0.8rem;
    }

    
    #page5 {
      height: fit-content;
      padding: 0vmin 0.5rem;
    }
    #page5-left {
      width: 40%;
    }
    #page5-right {
      width: 60%;
    }
    #page5 h3 {
      font-size: 3.7vmin;
    }
    #page5 h1 {
      font-size: 3.5vmin;
      line-height: 1.1;
    }
    #page5-slider {
      padding-top: 0rem;
    }
    #slider {
      padding: 0rem 0rem;
      width: 100%;
      margin-bottom: 10px;
    }
    #slider p {
      font-size: 2vmin;
    }
    #slider img {
      width: 50px;
      height: 50px;
    }

     /* footer */
  #footer {
    width: 100vw;
    height: fit-content;
  }
  #footer p {
    font-size: 2vmin;
  }
  #footer1 {
    padding: 1rem 1rem;
  }
  #footer1-left h1 {
    font-size: 2.2vmin;
  }
  #footer1-left p {
    font-size: 0.8rem;
  }
  #footer-right {
    width: 50%;
  }
  #footer-right a {
    font-size: 2.2vmin;
  }
  #footer2 {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
  }

  #footer2-left h3 {
    font-size: 3vmin;
  }
  #footer2-left p {
    font-size: 2.5vmin;
  }
  #footer2-right h3 {
    font-size: 3vmin;
  }
  #footer2-right p {
    font-size: 2.5vmin;
  }
  #footer3 {
    height: fit-content;
  }
  #footer3 h1 {
    margin-top: 5vmin;
    font-size: 25.2vmin;
    letter-spacing: 0px;
  }

  #heading #tr {
    font-size: 0.1rem;
    margin-top: 0px;
  }
  #footer3 #tr2 {
    margin-top: 0px;
  }
  }
  @media (min-width: 600px) and (max-width: 1200px) {
    #main2{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }

    #section1{
      width: 100vw;
      display: flex;
    }
    #section1 img{
      width: 10%;
    }
    #section1 h1{
      font-size: 2.5rem;
    }
    #section1 .para{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      width: 85%;
      height: 50%;
    }
    #section1 #rocket{
      width: 40%;
      right: 0;
      display: none;
    }
    #section1 #vr-img{
      width: 30%;
      bottom: 0%;
    }


    #section2{
      width: 100%;
      height: fit-content;
      display: block;
    }
    .section2-div1{
      display: flex;
      gap: 5px;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      line-height: 1;
    }
    #section2-middle1{
      width: 100%;
    }
    #section2-middle1 p{
      font-size: 1.5rem;
      margin-top: 5px;
    }
    .section2-middle1-div {

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .section2-middle1-div p{
      font-size: 0.9rem;
    }
    .section2-middle1-div>div {
      width: 100%;
    }
    
    #section2-middle2{
      width: 100%;
      display: flex;
    }

    .section-div2{
    width: 100vw;
     display: flex;
     flex-direction: column;
     padding: 0;
     margin: 0;
    }

    .section2-div2-part1{
      width: 100%;
      height: 100%;
      gap: 0px;
    }
   
    #section-div2-middle1{
      width: 85vw;
      height: 100%;
      margin-left: -30%;
      margin-top: 0%;
      padding:0.6rem;
      margin-top:0;
    }
    #section-div2-para p{
      margin-top: 10px;
      font-size: 1.2em;
    }
    .section-div2-middle1-div p{
      padding: 0px;
      margin: 0;
     font-size: 1.5rem;
     margin-left: 0;
     width: 25%;
    }
    .section-div2-middle1-div i{
     font-size: 2rem;
     width: 75%;
    }
    
    #section-div2-middle2{
      width: 85vw;
      height: 100%;
      margin-left: -30%;
      margin-top: 0%;
      padding: 0.6rem;
      margin-top:0;
    }
    #section-div2-middle2 h1{
      font-size: 5rem;
    }
    
    #section-div2-middle2 p{
      font-size: 1.2rem;
      margin-top: 10px;
    }
    #section-div2-middle2 i{
      font-size:5rem;
      margin-top: 10px;
    }

    .section2-div2-part2{
      background-color: red;
      width: fit-content;
      display: none;
    }
       
    #section3{
      width: fit-content;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
    #section3 img{
      top: 0;
    }
    #section3 h1{
      font-size: 7rem;
    }
    .section3-q{
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: 85% !important;
      background-color: rgb(68, 68, 68);
      opacity: 0.6;
    }
    .section3-q details{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }
    .section3-q summary{
      font-size: 1.2rem;
    }
    .section3-q p{
      font-size: 1rem;
    }

    #page5 {
      height: fit-content;
      padding: 0vmin 0.5rem;
    }
    #page5-left {
      width: 40%;
    }
    #page5-right {
      width: 60%;
    }
    #page5 h3 {
      font-size: 3.7vmin;
    }
    #page5 h1 {
      font-size: 3.5vmin;
      line-height: 1.1;
    }
    #page5-slider {
      padding-top: 0rem;
    }
    #slider {
      padding: 0rem 0rem;
      width: 100%;
      margin-bottom: 10px;
    }
    #slider p {
      font-size: 2vmin;
    }
    #slider img {
      width: 50px;
      height: 50px;
    }

     /* footer */
  #footer {
    width: 100vw;
    height: fit-content;
  }
  #footer p {
    font-size: 2vmin;
  }
  #footer1 {
    padding: 1rem 1rem;
  }
  #footer1-left h1 {
    font-size: 2.2vmin;
  }
  #footer1-left p {
    font-size: 0.8rem;
  }
  #footer-right {
    width: 50%;
  }
  #footer-right a {
    font-size: 2.2vmin;
  }
  #footer2 {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
  }

  #footer2-left h3 {
    font-size: 3vmin;
  }
  #footer2-left p {
    font-size: 2.5vmin;
  }
  #footer2-right h3 {
    font-size: 3vmin;
  }
  #footer2-right p {
    font-size: 2.5vmin;
  }
  #footer3 {
    height: fit-content;
  }
  #footer3 h1 {
    margin-top: 5vmin;
    font-size: 25.2vmin;
    letter-spacing: 0px;
  }

  #heading #tr {
    font-size: 0.1rem;
    margin-top: 0px;
  }
  #footer3 #tr2 {
    margin-top: 0px;
  }
  }